.igmv_GreenGelControl
{
	font-weight:bold;
	font-size:x-small;
	font-family: Arial, Helvetica, sans-serif;
	border:solid 1px #135E04;
	border-collapse:Collapse;
	margin-top:5px;
	line-height: 16px;
	table-layout: fixed;
	overflow: hidden;
	color:Black;
}


.igmv_GreenGelWeekNumber
{
	background-color:#9AC24D;
	font-weight:bold;
	font-size:xx-small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px White;
	width: 20px;
	color:White;
	text-align:left;
}


.igmv_GreenGelMonthDayOfWeekHeader
{
	background-position:top bottom ;
	background-image: url(images/addnew.gif);
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px Silver;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	line-height: 25px;
	cursor:default;
	text-align:center;
}


.igmv_monthheader
{
	height: 16px;
	width: 100%;
	text-align:center;
}


.igmv_GreenGelCaptionHeader
{
	background-color:#CECECE;
	background-position:center ;
	background-image: url(images/header_hover.gif);
	font-weight:bold;
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 30px;
	text-align:center;
}


.igmv_GreenGelDay
{
	background-color:White;
	background-position:bottom ;
	background-image: url(images/addnew.gif);
	border-left:solid 1px Silver;
	color:Black;
	vertical-align:top;
}


.igmv_GreenGelOtherMonthDay
{
	background-color:WhiteSmoke;
	border-left:solid 1px Silver;
	color:Black;
	vertical-align:top;
}


.igmv_GreenGelToday
{
	background-color:White;
	border:solid 1px Black;
}


.igmv_GreenGelActiveDay
{
	background-color:White;
	background-image:none;
}


.igmv_GreenGelDayHeader
{
	background-color:Gainsboro;
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top:0px;
	padding-right:2px;
	padding-bottom:3px;
	text-align:right;
	vertical-align:top;
}


.igmv_GreenGelOtherMonthDayHeader
{
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top:0px;
	padding-right:2px;
	text-align:right;
	vertical-align:top;
}


.igmv_GreenGelTodayHeader
{
	background-color:#135E04;
	background-image:none;
	color:White;
}


.igmv_GreenGelActiveDayHeader
{
	background-color:Gainsboro;
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top:0px;
	padding-right:2px;
	padding-bottom:3px;
	text-align:right;
	vertical-align:top;
}


.igmv_GreenGelAppointment
{
	font-size:7pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:1px;
	margin-right:2px;
	margin-left:2px;
	padding-left:1px;
	line-height: 15px;
	height: 15px;
	position: relative;
	top: 0;
	cursor:hand;
}


.igmv_GreenGelAllDayEvent
{
	background-color:LightYellow;
	font-size:7pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px Silver;
	margin-right:2px;
	margin-left:2px;
	cursor:hand;
	text-align:left;
}


.igmv_GreenGelSelectedAppointment
{
	font-size:7pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:1px;
	margin-right:2px;
	margin-left:2px;
	padding-left:1px;
	line-height: 15px;
	height: 15px;
	position: relative;
	top: 0;
	cursor:hand;
	color:Black;
}


.igmv_GreenGelNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	cursor:hand;
	vertical-align:middle;
}


