.igdc_NewStyleSet1EditWithButtons
{
	background-color:Transparent;
	border-style:solid;
	border-width:1px;
}


.igdc_NewStyleSet1Calendar
{
}


.igdc_NewStyleSet1EditInContainer
{
	border-width:0px;
}


.igdc_NewStyleSet1Button
{
}


.igdc_NewStyleSet1ButtonHover
{
}


