.igtb_NewStyleSet1Control
{
	background-color:#F0F0F0;
	border-color:Transparent;
}


.igtb_NewStyleSet1Item
{
}


.igtb_NewStyleSet1Button
{
	background-color:Transparent;
	border:solid 1px Transparent;
	padding-right:38px;
	padding-left:4px;
}


.igtb_NewStyleSet1ButtonHover
{
	background-color:Gainsboro;
	border-color:DarkGray;
}


.igtb_NewStyleSet1ButtonPressed
{
}


.igtb_NewStyleSet1Label
{
	background-color:Transparent;
}


.igtb_NewStyleSet1TextBox
{
}


.igtb_NewStyleSet1Separator
{
	background-color:Transparent;
}


