.igtr_NewStyleSet1Control
{
	border-color:Transparent;
}


.igtr_NewStyleSet1Island
{
}


.igtr_NewStyleSet1Node
{
}


.igtr_NewStyleSet1Parent
{
}


.igtr_NewStyleSet1Leaf
{
}


.igtr_NewStyleSet1Edit
{
}


.igtr_NewStyleSet1Root
{
	font-weight:bold;
}


.igtr_NewStyleSet1Hover
{
	text-decoration:underline;
}


.igtr_NewStyleSet1Selected
{
	font-weight:bold;
}


.igtr_NewStyleSet1Disabled
{
	color:#D2D2D2;
}


