FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px Tahoma,Arial,sans-serif; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px Tahoma,Arial,sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 4px; FONT: 11px Tahoma,Arial,sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
LABEL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; TEXT-ALIGN: left
}
INPUT.formCheckbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 9px Tahoma,Arial,sans-serif; VERTICAL-ALIGN: middle; WIDTH: 14px; PADDING-TOP: 0px; HEIGHT: 14px
}
LABEL.formCheckbox {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
IMG.formIconArrow {
	MARGIN: 0px 3px 1px 0px; WIDTH: 6px; HEIGHT: 3px
}
IMG.formIconCity {
	VERTICAL-ALIGN: middle; WIDTH: 17px; HEIGHT: 17px
}
IMG.formIconCalendar {
	MARGIN: 0px 0px 2px; VERTICAL-ALIGN: middle; WIDTH: 17px; HEIGHT: 17px
}
IMG.formIconNewWindow {
	VERTICAL-ALIGN: middle; WIDTH: 17px; HEIGHT: 17px
}
IMG.formIconHelp {
	VERTICAL-ALIGN: middle; WIDTH: 17px; HEIGHT: 17px
}
IMG.formIconError {
	VERTICAL-ALIGN: middle; WIDTH: 19px; HEIGHT: 19px
}
DIV.formContainer {
	FLOAT: left; WIDTH: 218px
}
DIV.formContainer H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 11px; BACKGROUND: url(//images.delta.com/delta/backgrounds/forms/form_header.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 6px; HEIGHT: 21px
}
UNKNOWN {
	HEIGHT: 15px
}
DIV.formContainer H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px; PADDING-TOP: 0px
}
DIV.formContainer DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px; PADDING-TOP: 0px
}
DIV.formContainer DIV.formBackground {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(//images.delta.com/delta/backgrounds/forms/form_body.gif) no-repeat left bottom; PADDING-BOTTOM: 6px; MARGIN: 0px; WIDTH: 219px; PADDING-TOP: 0px
}
DIV.formContainer INPUT {
	WIDTH: 95px
}
DIV.formContainer A {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
DIV.formContainer A.action {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
DIV#formLoginOpen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 19px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 219px; PADDING-TOP: 0px; POSITION: absolute; TOP: 59px
}
DIV#formLoginOpen DIV.formBackground {
	LINE-HEIGHT: 14px
}
DIV#formLoginClosed {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 19px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 219px; PADDING-TOP: 0px; POSITION: absolute; TOP: 59px
}
DIV#formLoginClosed A {
	FONT-SIZE: 9px
}
DIV#formLoginClosed A:link {
	FONT-SIZE: 9px
}
DIV#formHomepageRTR {
	
}
DIV#formHomepageRTR DIV.formHomepageRTRHeader {
	PADDING-RIGHT: 10px; PADDING-LEFT: 9px; BACKGROUND: url(//images.delta.com/delta/backgrounds/forms/form_tab_left.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 219px; PADDING-TOP: 7px; HEIGHT: 51px
}
DIV#formHomepageRTR DIV.formHomepageItinsHeader {
	PADDING-RIGHT: 10px; PADDING-LEFT: 9px; BACKGROUND: url(//images.delta.com/delta/backgrounds/forms/form_tab_right.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 219px; PADDING-TOP: 7px; HEIGHT: 51px
}
DIV#formHomepageRTR H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(//images.delta.com/delta/misc/spacer.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 29px; TEXT-ALIGN: center
}
UNKNOWN {
	HEIGHT: 15px
}
DIV#formHomepageRTR H1 A {
	FONT-WEIGHT: bold; COLOR: #069; TEXT-DECORATION: none
}
DIV#formHomepageRTR H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px
}
DIV#formHomepageRTR H2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #a7cde4; TEXT-DECORATION: none
}
DIV#formHomepageRTR H2 SPAN {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #a7cde4; PADDING-TOP: 0px
}
DIV#formHomepageRTR INPUT {
	WIDTH: 70px
}
DIV.error {
	COLOR: #c00
}
