BODY {
	FONT: 11px Tahoma,Arial,sans-serif; COLOR: #333
}
TD {
	FONT: 11px Tahoma,Arial,sans-serif; COLOR: #333
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	VERTICAL-ALIGN: top
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A {
	FONT-WEIGHT: bold; COLOR: #069; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana,sans-serif
}
H1 {
	FONT-FAMILY: Tahoma,Arial,sans-serif
}
H2 {
	FONT-FAMILY: Tahoma,Arial,sans-serif
}
H3 {
	FONT-FAMILY: Tahoma,Arial,sans-serif
}
H4 {
	FONT-FAMILY: Tahoma,Arial,sans-serif
}
H5 {
	FONT-FAMILY: Tahoma,Arial,sans-serif
}
H6 {
	FONT-FAMILY: Tahoma,Arial,sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 17px; PADDING-BOTTOM: 15px; MARGIN: 0px; COLOR: #069; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 17px; PADDING-BOTTOM: 15px; MARGIN: 0px; COLOR: #069; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
H3 {
	FONT-SIZE: 11px; MARGIN: 0px
}
H1 SUP {
	FONT-SIZE: 12px
}
.tagline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
HR {
	CLEAR: both; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 0px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #99c2d6; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #99c2d6
}
SUP {
	LINE-HEIGHT: 200%
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: disc
}
UL LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 30px; PADDING-TOP: 0px; LIST-STYLE-TYPE: circle
}
.smallText {
	FONT: 9px Verdana,sans-serif; COLOR: #333
}
.smallText A {
	COLOR: #069; TEXT-DECORATION: underline
}
.smallText A:hover {
	
}
DIV.genContainer {
	FLOAT: left; POSITION: relative
}
DIV.noLeft {
	FLOAT: left; POSITION: relative
}
DIV.genLeft {
	FLOAT: left; POSITION: relative
}
DIV.genContainer {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/layout/leftnav_bg.gif) #fff repeat-y; WIDTH: 750px
}
DIV.noLeft {
	LEFT: 20px; MARGIN-BOTTOM: 50px; WIDTH: 730px
}
DIV.genLeft {
	MARGIN: 0px; WIDTH: 237px; BACKGROUND-COLOR: #eaeaea
}
DIV#genLoginSpacer {
	WIDTH: 237px; HEIGHT: 11px; BACKGROUND-COLOR: #fff
}
DIV.clear {
	CLEAR: both; LINE-HEIGHT: 0px; HEIGHT: 0px
}
DIV.genHeader {
	FONT-SIZE: 11px; BACKGROUND: url(//images.delta.com/delta/backgrounds/headers/header.jpg) no-repeat; OVERFLOW: hidden; WIDTH: 750px; COLOR: #69c; POSITION: relative; HEIGHT: 123px; TEXT-ALIGN: right
}
DIV.genHeader DIV {
	LEFT: 215px; WIDTH: 525px; POSITION: absolute; TOP: 11px; TEXT-ALIGN: right
}
DIV.genHeader A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px 4px; COLOR: #fff
}
IMG#logo {
	POSITION: absolute
}
IMG#skyteam {
	POSITION: absolute
}
DIV.genHeader IMG#logo {
	LEFT: 29px; WIDTH: 122px; TOP: 16px; HEIGHT: 32px
}
DIV.genHeader IMG#skyteam {
	LEFT: 151px; WIDTH: 39px; TOP: 16px; HEIGHT: 32px
}
DIV.genHeader INPUT.genHeaderInput {
	MARGIN: 0px 3px 0px 16px; FONT: 11px Tahoma,Arial,sans-serif; VERTICAL-ALIGN: middle; WIDTH: 82px; HEIGHT: 18px
}
DIV.genHeader INPUT.genHeaderSubmit {
	VERTICAL-ALIGN: middle; WIDTH: 68px; HEIGHT: 18px
}
DIV#nonjs_nav {
	WIDTH: 500px
}
DIV#nonjs_nav IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#nonjs_nav DIV#planning {
	DISPLAY: none
}
DIV#nonjs_nav DIV#travelling {
	DISPLAY: none
}
DIV#nonjs_nav DIV#skymiles {
	DISPLAY: none
}
DIV#corpHeader {
	BACKGROUND-IMAGE: url(//images.delta.com/delta/backgrounds/headers/header_corporate.jpg); OVERFLOW: hidden; WIDTH: 750px; POSITION: relative; HEIGHT: 80px
}
DIV#genLeftNav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(//images.delta.com/delta/navigation/leftnav_notch.gif) no-repeat 50% bottom; PADDING-BOTTOM: 8px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma,Arial,sans-serif
}
DIV#genLeftNav H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 33px; FONT-SIZE: 13px; BACKGROUND: url(//images.delta.com/delta/navigation/leftnav_title.gif) #fff no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; HEIGHT: 22px
}
DIV#genLeftNav  A {
	DISPLAY: block; COLOR: #333; TEXT-DECORATION: none
}
DIV#genLeftNav  A:hover {
	COLOR: #069; TEXT-DECORATION: underline
}
DIV#genLeftNav H1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #fff; HEIGHT: 20px
}
DIV#genLeftNav H1 A:hover {
	COLOR: #fff
}
DIV#genLeftNav H2 {
	PADDING-RIGHT: 0px; BORDER-TOP: #d2d2d2 1px solid; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; MARGIN: 0px 15px; PADDING-TOP: 2px; BACKGROUND-COLOR: #eaeaea
}
DIV#genLeftNav H2.navHover {
	BACKGROUND: url(//images.delta.com/delta/icons/arrow_leftnav_up.gif) #eaeaea no-repeat 11px 4px
}
DIV#genLeftNav H2 A {
	COLOR: #333
}
DIV#genLeftNav H2.navHot {
	BACKGROUND: url(//images.delta.com/delta/icons/arrow_leftnav_down.gif) #eaeaea no-repeat 8px 6px; COLOR: #069
}
DIV#genLeftNav H2.navHot A {
	COLOR: #069
}
DIV#genLeftNav H2.navActive {
	BACKGROUND: url(//images.delta.com/delta/icons/arrow_leftnav_up.gif) #eaeaea no-repeat 9px 3px; COLOR: #069
}
DIV#genLeftNav H2.navActive A {
	COLOR: #069
}
DIV#genLeftNav H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 0px 15px; PADDING-TOP: 2px; BACKGROUND-COLOR: #eaeaea
}
DIV#genLeftNav H3 A {
	FONT-WEIGHT: normal; COLOR: #333
}
DIV#genLeftNav H3 A:hover {
	COLOR: #069; TEXT-DECORATION: underline
}
DIV#genLeftNav H3.navHot {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #069; BACKGROUND-COLOR: #eaeaea
}
DIV#genLeftNav H3.navHot A {
	FONT-WEIGHT: bold; COLOR: #069; TEXT-DECORATION: none
}
DIV#genLeftNav H3.navHot A:hover {
	TEXT-DECORATION: underline
}
DIV#genLeftNav H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 60px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f9f9f9
}
DIV#genLeftNav H4 A {
	FONT-WEIGHT: normal; COLOR: #333
}
DIV#genLeftNav H4 A:hover {
	FONT-WEIGHT: normal; COLOR: #069; TEXT-DECORATION: underline
}
DIV#genLeftNav H4.navHot {
	FONT-WEIGHT: bold; COLOR: #069
}
DIV#genLeftNav H4.navHot A {
	FONT-WEIGHT: bold; COLOR: #069; TEXT-DECORATION: none
}
DIV#genLeftNav H4.navHot A:hover {
	FONT-WEIGHT: bold; COLOR: #069; TEXT-DECORATION: underline
}
DIV.genRelatedLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 50px; BACKGROUND-COLOR: #e2e2e2
}
DIV.genRelatedLinks H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px 15px; COLOR: #069; PADDING-TOP: 2px; BORDER-BOTTOM: #adafae 1px solid
}
DIV.genRelatedLinks A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px 15px; COLOR: #333; PADDING-TOP: 4px
}
DIV.genRelatedLinks A:hover {
	COLOR: #069
}
DIV.genContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 31px; FLOAT: left; PADDING-BOTTOM: 50px; WIDTH: 513px; PADDING-TOP: 15px; FONT-FAMILY: Verdana,sans-serif; BACKGROUND-COLOR: #fff
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 50px; MARGIN: 0px 0px 0px 31px; WIDTH: 482px; PADDING-TOP: 15px
}
DIV.genContentLeft {
	FLOAT: left; MARGIN: 0px 0px 50px; WIDTH: 300px
}
DIV.genContentRight {
	FLOAT: right; MARGIN: 43px 0px 50px; WIDTH: 170px; TEXT-ALIGN: right
}
DIV.genContent DIV.aircraftSpecs DIV.genContentLeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 170px; PADDING-TOP: 0px
}
DIV.genContent DIV.aircraftSpecs DIV.genContentRight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 300px; PADDING-TOP: 0px
}
DIV.genContentRight H2 {
	TEXT-ALIGN: left
}
.formatNoPadding {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.genContentWrap {
	WIDTH: 400px
}
DIV.genContentWrap P {
	WIDTH: auto
}
DIV.genFooter {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: #eee; PADDING-BOTTOM: 6px; WIDTH: 750px; COLOR: #069; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 29px; TEXT-ALIGN: right
}
UNKNOWN {
	WIDTH: 740px; HEIGHT: 16px
}
DIV.genFooter A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #069
}
DIV#copyright {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; WIDTH: 750px; COLOR: #9c9c9c; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 29px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
UNKNOWN {
	WIDTH: 740px; HEIGHT: 16px
}
DIV.disclaimer {
	DISPLAY: none; FLOAT: right; MARGIN: 0px 20px 0px 0px; WIDTH: 600px
}
BODY.lpBody .genContainer {
	BACKGROUND: url(//images.delta.com/delta/marketing/landing/landing.jpg) #cfdced no-repeat; MARGIN-BOTTOM: 0px
}
DIV#lpHeader {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/headers/header_landingpage.jpg) no-repeat
}
DIV.lpContent {
	FLOAT: left; POSITION: relative
}
DIV.lpLeft {
	FLOAT: left; POSITION: relative
}
DIV.lpContent {
	MARGIN: 15px 0px -2px 31px; WIDTH: 480px
}
UNKNOWN {
	MARGIN: 15px 0px -2px 31px; WIDTH: 482px
}
DIV.lpContent H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 17px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #036; PADDING-TOP: 0px
}
DIV.lpContent P {
	MARGIN: 0px 20px 15px 0px
}
DIV.lpMarketing {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
DIV.lpMarketing TABLE TR TD {
	PADDING-RIGHT: 10px
}
DIV.lpLeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 237px; PADDING-TOP: 74px
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 17px; WIDTH: 220px; PADDING-TOP: 74px
}
DIV.lpLeft H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 0px
}
DIV.lpLeft H2 IMG {
	MARGIN: 0px 2px 0px 0px; WIDTH: 15px; HEIGHT: 7px
}
DIV.lpLeft P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px 22px; WIDTH: 190px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma,Arial,sans-serif
}
DIV.lpRelatedLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 50px; WIDTH: 221px; PADDING-TOP: 10px
}
DIV.lpRelatedLinks H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #069; PADDING-TOP: 0px; BORDER-BOTTOM: #adafae 1px solid
}
DIV.lpRelatedLinks A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 4px
}
DIV.lpRelatedLinks A:hover {
	COLOR: #069; TEXT-DECORATION: underline
}
DIV.lpFeature {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; WIDTH: 218px; PADDING-TOP: 0px
}
DIV.lpFeature DIV {
	PADDING-RIGHT: 24px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BACKGROUND-COLOR: #e9f0f7
}
DIV.lpFeature IMG {
	DISPLAY: block
}
DIV.lpFeature H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #036; PADDING-TOP: 0px
}
DIV.lpFeature H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
DIV.lpFeature H3 IMG {
	DISPLAY: inline; MARGIN: 0px 2px 0px 0px; VERTICAL-ALIGN: middle; WIDTH: 9px; HEIGHT: 5px
}
DIV.lpFeature A {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: middle
}
DIV.indexLeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; FLOAT: left; PADDING-BOTTOM: 50px; WIDTH: 237px; PADDING-TOP: 15px; POSITION: relative
}
DIV.indexLeftNav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 218px; PADDING-TOP: 0px
}
DIV.indexLeftNav DIV {
	PADDING-RIGHT: 24px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #e9f0f7
}
DIV.indexLeftNav IMG {
	DISPLAY: block
}
DIV.indexLeftNav H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px; COLOR: #036; PADDING-TOP: 0px
}
DIV.indexLeftNav H2 IMG {
	DISPLAY: inline; MARGIN: 0px 2px 0px 0px; VERTICAL-ALIGN: middle; WIDTH: 15px; HEIGHT: 7px
}
DIV.indexLeftNav P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 180px; PADDING-TOP: 0px; BACKGROUND-COLOR: #e9f0f7
}
UL.listTwoColumns {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 15px 15px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.listThreeColumns {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 15px 15px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.listTwoColumns {
	WIDTH: 200px
}
UL.listThreeColumns {
	WIDTH: 133px
}
DIV.listDepartmentLinks {
	LINE-HEIGHT: 15px
}
DIV.listDepartmentLinks H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.listDepartmentLinks H2 IMG {
	VERTICAL-ALIGN: middle; WIDTH: 15px; HEIGHT: 7px
}
DIV.listDepartmentLinks P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px 15px; PADDING-TOP: 0px
}
DIV.linkAnchorLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; LEFT: -5px; PADDING-BOTTOM: 9px; MARGIN: 0px 0px 22px; PADDING-TOP: 9px; POSITION: relative; BACKGROUND-COLOR: #e6ebef
}
DIV.linkAnchorLinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 16px; PADDING-TOP: 0px
}
UNKNOWN {
	MARGIN: 0px 10px 0px 19px
}
DIV.linkAnchorLinks UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(//images.delta.com/delta/icons/arrow_anchor.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; PADDING-TOP: 0px
}
UNKNOWN {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(//images.delta.com/delta/icons/arrow_anchor.gif)
}
DIV.linkAnchorLinks A {
	LINE-HEIGHT: 18px
}
DIV.linkAnchorLinks2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; RIGHT: -5px; PADDING-BOTTOM: 9px; MARGIN: 0px 0px 22px; WIDTH: 120px; PADDING-TOP: 9px; POSITION: relative; BACKGROUND-COLOR: #e6ebf0
}
DIV.linkAnchorLinks IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 11px; PADDING-TOP: 0px; HEIGHT: 12px
}
DIV.linkReturnToTop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
DIV.linkReturnToTop IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 11px; PADDING-TOP: 0px; HEIGHT: 8px
}
DIV.genPromo {
	FLOAT: right; MARGIN-BOTTOM: 8px; WIDTH: 141px; TEXT-ALIGN: right
}
DIV.genPromo IMG {
	DISPLAY: block
}
DIV.genPromo DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 20px; FONT-SIZE: 9px; BACKGROUND: url(//images.delta.com/delta/backgrounds/tables/table_small_body.gif) #fff repeat-y; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 11px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.genPromo DIV IMG {
	DISPLAY: block; MARGIN-BOTTOM: 3px; WIDTH: 80px; HEIGHT: 40px
}
DIV.genPromo A {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-DECORATION: underline
}
DIV.genPromo A:hover {
	TEXT-DECORATION: underline
}
TABLE.horizontal {
	
}
TABLE.horizontal TD {
	BORDER-TOP: #afafaf 1px solid
}
TABLE.vertical {
	
}
TABLE.vertical TD {
	BORDER-RIGHT: #afafaf 1px solid
}
TABLE.center {
	
}
TABLE.center TD {
	TEXT-ALIGN: center
}
TABLE.headers {
	
}
TABLE.headers TD.start {
	BACKGROUND-COLOR: #e6ebef
}
TABLE.gray {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px -5px; FONT: 11px Tahoma,Arial,sans-serif; COLOR: #333; PADDING-TOP: 0px; BACKGROUND-COLOR: #f8f8f8
}
TABLE.gray TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
TABLE.gray TD.start {
	PADDING-LEFT: 15px; BORDER-LEFT: #d8d8d8 2px solid; TEXT-ALIGN: left
}
TABLE.gray TD.end {
	BORDER-RIGHT: #d8d8d8 2px solid; PADDING-RIGHT: 15px
}
TABLE.gray TD.bullet {
	FONT-SIZE: large; VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
TABLE.gray TD.endbullet {
	BORDER-RIGHT: #d8d8d8 2px solid; FONT-SIZE: large; VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
TABLE.gray TD.right {
	BORDER-RIGHT-COLOR: #d8d8d8
}
TABLE.gray TD.sub {
	BORDER-TOP: medium none; PADDING-BOTTOM: 3px; FONT: 10px Tahoma,Arial,sans-serif; COLOR: #333; PADDING-TOP: 3px; BACKGROUND-COLOR: #e6ebef; TEXT-ALIGN: center
}
TABLE.gray TD.clear {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.gray TR.even {
	BACKGROUND-COLOR: #e9e9e9
}
TABLE.gray CAPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: bold 13px Tahoma,Arial,sans-serif; COLOR: #333; PADDING-TOP: 5px; TEXT-ALIGN: left
}
TABLE.gray B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
TABLE.gray SPAN.super {
	FONT-SIZE: 9px; VERTICAL-ALIGN: 20%
}
TABLE.gray TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BACKGROUND-COLOR: #d8d8d8; TEXT-ALIGN: center
}
TABLE.gray TH.start {
	PADDING-LEFT: 17px
}
TABLE.gray TH.end {
	PADDING-RIGHT: 17px
}
TABLE.gray TH.left {
	TEXT-ALIGN: left
}
TABLE.gray TH.top {
	PADDING-BOTTOM: 10px
}
TABLE.gray TH.aboveSub {
	PADDING-BOTTOM: 3px
}
TABLE.gray TH.bottom {
	FONT: 10px Tahoma,Arial,sans-serif; COLOR: #333; PADDING-TOP: 10px; TEXT-ALIGN: left
}
TABLE.corners {
	WIDTH: 100%
}
TABLE.corners TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 10px; PADDING-TOP: 0px; FONT-STYLE: normal; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 10px; BACKGROUND-COLOR: #d8d8d8; FONT-VARIANT: normal; BORDER-BOTTOM-STYLE: none
}
TABLE.corners TD.topLeft {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/tables/table_gray_lefttop.gif) #d8d8d8 no-repeat left top
}
TABLE.corners TD.topRight {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/tables/table_gray_righttop.gif) #d8d8d8 no-repeat right top
}
TABLE.corners TD.bottomLeft {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/tables/table_gray_leftbottom.gif) #d8d8d8 no-repeat left bottom
}
TABLE.corners TD.bottomRight {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/tables/table_gray_rightbottom.gif) #d8d8d8 no-repeat right bottom
}
TABLE.striped {
	
}
TABLE.striped TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
TABLE.striped TR.even {
	BACKGROUND-COLOR: #e9e9e9
}
DIV.tableOffers {
	LEFT: -5px; POSITION: relative
}
DIV.tableOffers H2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(//images.delta.com/delta/backgrounds/tables/table_title.gif) #fff no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 13px Tahoma,Arial,sans-serif; COLOR: #fff; PADDING-TOP: 4px; HEIGHT: 25px
}
DIV.tableOffers TD.details {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
DIV.tableOffers TD.details IMG {
	DISPLAY: inline; MARGIN: 0px 2px 0px 0px; VERTICAL-ALIGN: middle; WIDTH: 9px; HEIGHT: 5px
}
DIV.tableOffers IMG {
	DISPLAY: block
}
DIV.tableOffers TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(//images.delta.com/delta/backgrounds/tables/table_body.gif) #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 476px; PADDING-TOP: 0px
}
DIV.tableOffers TABLE TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 16px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 134px; PADDING-TOP: 0px
}
DIV.tableOffers TABLE TD IMG {
	DISPLAY: inline; MARGIN-BOTTOM: 3px; WIDTH: 80px; HEIGHT: 40px
}
DIV.tableOffers SPAN.linkMore {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 6px 8px 25px 0px; WIDTH: 300px; PADDING-TOP: 0px; POSITION: relative; TEXT-ALIGN: right
}
DIV.tableOffers SPAN.linkTop {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 6px 8px 25px 0px; WIDTH: 130px; PADDING-TOP: 0px; POSITION: relative
}
SPAN.linkTop IMG {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 11px; PADDING-TOP: 0px; HEIGHT: 8px
}
SPAN.linkMore IMG {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 15px; PADDING-TOP: 0px; HEIGHT: 7px
}
#popHeader {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/headers/popup_header_center.jpg) repeat-x; OVERFLOW: hidden; POSITION: relative; HEIGHT: 31px
}
#popHeader TD.left {
	WIDTH: 600px
}
#popHeader TD.right {
	PADDING-RIGHT: 8px; PADDING-LEFT: 25px; BACKGROUND: url(//images.delta.com/delta/backgrounds/headers/popup_header_right.jpg) no-repeat; PADDING-BOTTOM: 6px; WIDTH: 100px; PADDING-TOP: 6px
}
#popHeader TD.right A {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none
}
DIV.popContainer {
	MARGIN: 15px 0px 0px 20px; WIDTH: 420px; POSITION: relative
}
.calBorder {
	BACKGROUND-COLOR: #cfd9e3
}
TH.calMonth {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #fff; BACKGROUND-COLOR: #069; TEXT-ALIGN: center
}
TH.calDay {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #333; BACKGROUND-COLOR: #9dc6db; TEXT-ALIGN: center
}
TD.calDate {
	BORDER-RIGHT: #eaeaea 1px solid; BORDER-TOP: #eaeaea 1px solid; FONT-SIZE: 11px; VERTICAL-ALIGN: top; BORDER-LEFT: #eaeaea 1px solid; BORDER-BOTTOM: #eaeaea 1px solid; BACKGROUND-COLOR: #eaeaea; TEXT-ALIGN: right
}
A.calArrow:link {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.calArrow:visited {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.calArrow:active {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.calDate:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.calDate:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.calDate:active {
	COLOR: #000; TEXT-DECORATION: none
}
DIV.alertsWideTop {
	BACKGROUND: url(//images.delta.com/delta/backgrounds/alerts/alerts_top.gif) no-repeat; FLOAT: left; WIDTH: 478px; HEIGHT: 34px
}
DIV.alertsWideTop H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 6px
}
DIV.alertsWideCell {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.alertsWideCell B {
	COLOR: #cb0000
}
DIV.alertsWideBody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(//images.delta.com/delta/backgrounds/alerts/alerts_middle.gif) repeat-y; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 478px; PADDING-TOP: 5px
}
DIV.alertsWideBottom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; BACKGROUND: url(//images.delta.com/delta/backgrounds/alerts/alerts_bottom.gif); FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; WIDTH: 478px; LINE-HEIGHT: 0; PADDING-TOP: 0px; HEIGHT: 12px
}
DIV.blueWhite {
	LEFT: -5px; POSITION: relative
}
DIV.blueWhite H2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 50px; BACKGROUND: url(//images.delta.com/delta/backgrounds/layout/blue_white_478_header.jpg) #fff no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 13px Tahoma,Arial,sans-serif; COLOR: #fff; PADDING-TOP: 4px; HEIGHT: 25px
}
DIV.blueWhite IMG {
	DISPLAY: block
}
DIV.blueWhite TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(//images.delta.com/delta/backgrounds/layout/blue_white_478_middle.jpg) #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 476px; PADDING-TOP: 0px
}
DIV.blueWhite TABLE TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; FONT: 11px Verdana,sans-serif; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
DIV.blueWhite TABLE TD IMG {
	DISPLAY: block; MARGIN-BOTTOM: 3px
}
DIV.blueWhite SPAN.linkTop {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px; WIDTH: 150px; PADDING-TOP: 0px
}
DIV.blueWhite SPAN.linkTop IMG {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 11px; PADDING-TOP: 0px; HEIGHT: 8px
}
DIV.blueWhite UL {
	WIDTH: 100%
}
.new {
	BACKGROUND-IMAGE: url(//images.delta.com/delta/icons/new.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px
}
UNKNOWN {
	
}
DIV.lightBlue {
	PADDING-LEFT: 10px; BACKGROUND-COLOR: #e9f0f7
}
DIV.lightBlue UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
DIV.lightBlue LI {
	MARGIN-BOTTOM: 10px
}
DIV#tabs {
	
}
DIV#tabContent {
	CLEAR: both; BORDER-TOP: #069 2px solid
}
DIV#tabs DIV.tabActive {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(//images.delta.com/delta/navigation/tab_active.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 2px 0px 0px; WIDTH: 95px; COLOR: #fff; PADDING-TOP: 5px
}
DIV#tabs DIV.tabInActive {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(//images.delta.com/delta/navigation/tab_inactive.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 2px 0px 0px; WIDTH: 95px; CURSOR: hand; COLOR: #069; PADDING-TOP: 5px
}
DIV#tabs DIV.tabDisabled {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(//images.delta.com/delta/navigation/tab_unavailable.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 2px 0px 0px; WIDTH: 95px; COLOR: #999; PADDING-TOP: 5px
}
