body 
{
	font-family: Arial, Sans-Serif;	
}


.HeadingOne
{
	font-family: Arial, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
}

.HeadingThree
{
	font-family: Arial, Sans-Serif;
	font-size: smaller;
}

.HeadingTwo
{
	font-family: Arial, Sans-Serif;
	font-size: 15px;
	font-weight: bold;
}

form label 
{
	color:Red;
	background-color:Blue;
}

asp:Label 
{
	color:Red;
	background-color:Blue;
}

.label
{
	color:Red;
	background-color:Green;
	width:auto;
}

.phaseDates 
{
	float:left;
	padding:10px;
	margin:2px;		
}


.phaseDatesWrapper
{


}

 .reqDeliverables
 {
	float:left;
	width:16%;
	margin-right: 5px;
	min-height:150px;
 }
 
 .additionalParameters
 {
	float:left;
	padding: 5px;

 }
 
 .tbl
 {
	padding: 5px;
	text-align: left;
	margin: 10px;
	caption-side:top;
}

a:link
{
	color:Blue;
}

.mybtns
{
	float:left;
	padding: 5px;
	margin:5px;
}

.teamMembers
{
 min-width: 10%;
 float:left;
}