.defaultfont {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; }
.defaultfontbold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small;font-weight: bold;}
.defaultfontboldred {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; color: red; font-weight: bold;}
